:host {
  display: flex;
}

mat-drawer-container {
  display: flex;
  flex: 1 1 auto;

  .menu-items-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    width: 200px;
  }

  a {
    margin-top: 10px;
    text-align: left;
  }
  mat-drawer-content {
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
  }
  .last {
    order: 99;
    margin-top: auto;
  }
}
