<mat-drawer-container>
  <mat-drawer
    mode="over"
    [opened]="isOpen"
    position="end"
    (openedChange)="handleChange($event)"
  >
    <div
      class="menu-items-container"
      *ngIf="(menuRoutes$ | async) as menuRoutes"
    >
      <a
        *ngFor="let route of menuRoutes"
        mat-button
        [routerLink]="route.path"
        [queryParams]="route.queryParams"
        (click)="handleLinkClick()"
        [class.last]="route.path === 'logout' || route.path === 'login'"
      >
        <mat-icon [svgIcon]="route.icon"></mat-icon>
        {{ route.text }}
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content><ng-content></ng-content></mat-drawer-content>
</mat-drawer-container>
