mat-drawer-container {
  display: flex;
  height: calc(100vh - 95px);

  .menu-items-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
  }

  a {
    margin-top: 10px;
    text-align: left;
  }
  mat-drawer-content {
    scroll-behavior: smooth;
    width: 100%;
  }
  .last {
    order: 99;
    margin-top: auto;
  }
}
