@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;
  max-height: $numLines * $lineHeight + unquote("em");
}

$medium: 768px;
$large: 1024px;

@mixin for-size($size) {
  @if $size == small-only {
    @media (max-width: #{$medium}) {
      @content;
    }
  } @else if $size == medium-up {
    @media (min-width: #{$medium}) {
      @content;
    }
  } @else if $size == large-up {
    @media (min-width: #{$large}) {
      @content;
    }
  }
}
