@import "../../../styles/colors";

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-content: stretch;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;

  .card {
    flex: 0 0 auto;
    margin-left: 10px;
    width: 80%;
    max-width: 300px;

    &.empty {
      margin-left: 0;
      width: 10px;
      border: none;
    }
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
