:host {
  display: inline-flex;
  height: 100%;
  width: 100vw;
}

.card-container {
  height: calc(100vh - 255px);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  margin-bottom: auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: calc(10%);
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;

  &:before,
  &:after {
    content: "";
    width: calc(10%);
  }
}

.example-card {
  // flex: 0 0 75vw;
  transition: all 0.2s ease-in-out;

  &:not(.selected) {
    transform: scale(0.9);
  }
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
