:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
}

.login-actions {
  display: flex;
  flex-direction: column;

  .login-action {
    width: 100%;

    mat-icon {
      margin-right: 2px;
    }

    + .login-action {
      margin-top: 10px;
    }
  }
}
