<div *ngIf="errors.length">
  <mat-list>
    <h3 mat-subheader>Errors</h3>
    <mat-list-item *ngFor="let error of errors">
      <h4 mat-line>Code: {{ error.code }}</h4>
      <p mat-line>{{ error.description }}</p>
    </mat-list-item>
  </mat-list>
</div>

<div
  *ngIf="!(isRegistering$ | async); else registrationForm"
  class="login-actions"
>
  <button
    class="login-action"
    mat-raised-button
    color="accent"
    (click)="showForm()"
  >
    <mat-icon svgIcon="google"></mat-icon>
    Sign-up with Google
  </button>
  <button
    class="login-action"
    mat-raised-button
    color="primary"
    (click)="login()"
  >
    <mat-icon svgIcon="google"></mat-icon>
    Login with Google
  </button>
</div>

<ng-template #registrationForm>
  <av-register-form
    (register)="register($event)"
    (cancel)="cancelRegistration()"
  ></av-register-form>
</ng-template>
