@import "~@angular/material/theming";
@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-weight: initial;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  > :first-child {
    margin-top: 10px;
  }
  > * {
    width: 100%;
    &:not(mat-form-field) {
      margin-top: 15px;
    }
  }
  > button {
    height: 45px;
    margin-top: auto;
    margin-bottom: 10px;
  }
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.pcc {
  color: mat-color($primary, "default-contrast");
}
.acc {
  color: mat-color($accent, "default-contrast");
}
