@import "~@angular/material/theming";
// Plus imports for other components in your app.

$avocado-font: '"Open Sans", "Helvetica", "Arial"';

// mat-typography-level(font-size, line-height, font-weight)

$avocado-typography: mat-typography-config(
  $font-family: $avocado-font,
  $headline: mat-typography-level(27px, normal, 700),
  $title: mat-typography-level(24px, normal, 700),
  $subheading-2: mat-typography-level(21px, normal, 700),
  $subheading-1: mat-typography-level(18px, normal, 400),
  $body-1: mat-typography-level(15px, normal, 400),
  $body-2: mat-typography-level(15px, normal, 700),
  $caption: mat-typography-level(13px, normal, 400),
  $button: mat-typography-level(18px, normal, 400)
);

$primary-palette: (
  100: #5776a4,
  500: #274b75,
  700: #002449,
  contrast: (
    100: #000000,
    500: #ffffff,
    700: #ffffff
  )
);
$accent-palette: (
  100: #5a9bf9,
  500: #006dc6,
  700: #004395,
  contrast: (
    100: #000000,
    500: #ffffff,
    700: #ffffff
  )
);
$warn-palette: (
  500: #b61111,
  contrast: (
    500: #ffffff
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// mat-palette(palette, default hue, light hue, dark hue);
$primary: mat-palette($primary-palette, 500, 100, 700);
$accent: mat-palette($accent-palette, 500, 100, 700);
$warn: mat-palette($warn-palette, 500, 500, 500);

// Create the theme object (a Sass map containing all of the palettes).
$avocado-app-theme: mat-light-theme($primary, $accent, $warn);
